<div id="<%= dom_id attendance %>">
  <p>
    <strong>Check in:</strong>
    <%= attendance.check_in.localtime %>
  </p>
  <p>
    <strong>Check out:</strong>
    <%= if attendance.check_out.nil?
          attendance.check_out
        else
          attendance.check_out.localtime
        end
     %>
  </p>
  <p>
    <strong>Employee:</strong>
    <%= attendance.employee_id %>
  </p>
</div>
